/* Navigation Bar */
.navbar {
  	background-color: #551672;
  	overflow: hidden;
}

.navbar a {
  	float: left;
  	color: #ece6d8;
  	text-align: center;
	vertical-align: middle;
  	padding: 10px 12px 10px 12px;
  	text-decoration: none;
  	font-size: 17px;
	font-family: "Caladea";
	transition: 0.5s;
	border: 2px #FFFFFF;
}

@media all and (max-width:680px) {
	.navbar a {
		font-size: 13px;
	}
}

.navbar a:hover {
  	background-color: #ece6d8;
  	color: #181818;
}

.navbar a.active {
  	background-color: #45105e;
  	color: #ece6d8;
}