/* ----- */
/* -Bdy- */
/* ----- */

body {
  	left: 0;
  	top: 0;
  	width: 100%;
  	height: 100%;
	margin: 0 auto;
}

/* Buffer */
#Buffer {
	width: 100%;
	margin: 0 auto;
	background-color: #dd872a;
	display:flex;
}

#Buffer .left {
	width:50%;
	text-align:left;
	float:left;
	font-family: "MS Gothic";
	font-size:13px;
	color:#000000;
	letter-spacing:1px;
	padding: 0px;
	background-color: #dd872a;
}

#Buffer .right {
	width: 50%;
	text-align:right;
	float:right;
	font-family: "MS Gothic";
	font-size:13px;
	color:#000000;
	letter-spacing:1px;
	padding: 0px;
	background-color: #dd872a;
}

.baton {
    background-color: #181818;
    display:inline-block;
    padding:0.2em 1em;
    margin:0;
    border-radius:0.5em;
    border: none;
    box-sizing: border-box;
    text-decoration:none;
    font-family: "Caladea";
    font-variant: small-caps;
    color:#FFFFFF;
    box-shadow:inset 0 -0.6em 0 -0.15em rgba(214, 214, 214, 0.17);
    text-align:center;
    position:relative;
    cursor:pointer;
	outline: none;
	max-width: 50%;
}

.baton:active {
  transform: translateY(2px);
}

/* ----- */
/* Sheet */
/* ----- */

#CharSheet {
	width: 100%;
	background-color: #ece6d8;
	margin: 0;
	/*display: flex;*/
  	justify-content: center;
  	align-items: center;
	background-image: linear-gradient(to bottom, #00ccff, #007997);
}

#CharSheet .charright {
	width: 95%;
	text-align:right;
	float:right;
	color:#ece6d8;
	font-family: "Source Sans Pro";
	font-weight:600;
	font-size: 1.0em;
	font-style: italic;
	margin-top: -5px;
	letter-spacing: 2px;
	line-height: 1.6;
	padding: 5px 5px 5px 5px;
	text-shadow: 1px 1px black;
}

#CharSheet a, a:visited {
	color: #dd872a;
	text-decoration: none;
}

#CharSheet a:hover {
	color: #dd872a;
}

.sheetflex-container {
	width:100%;
	display: flex;
	flex-wrap: wrap;
	/*justify-content: center;*/
	align-items: center;
	list-style: none;
}

.sheetflex-iteml {
	width: 60%;
}

.sheetflex-itemr {
	width: 40%;
	padding-top:10px;
	margin-left:-15%;
}

@media all and (max-width:736px) {
	.sheetflex-iteml {
		width: 100%;
		padding: 20px 20px;
	}
}

@media all and (max-width:736px) {
	.sheetflex-itemr {
		/*width: 100%;
		margin-left: 0;
		padding-top: 20px;*/
		display:none;
	}
}

@media all and (max-width:736px) {
	.charright {
		display:none;
	}
}

.sheet_img {
	object-fit:contain;
	width:100%;
}

#sheet_container {
	background: rgba(236, 230, 216, 0.85);
	width:80%;
	margin: 0 auto;
	/*float:right;*/
	border:1px solid rgba(18, 19, 20, 0.15);
	padding:2px;
	box-sizing:border-box;
	z-index:2;
	/*display: inline-block;*/
 	vertical-align: middle;
}

#sheet_content {
	border:1px solid rgba(0,17,52,0.35);
	padding:12px;
}

#sheet_content h1 {
	text-align:center;
	font-family: 'Source Serif Pro', serif;
	font-size:30px;
	font-weight:600;
	color:#dd872a;
	padding: 10px 10px 10px 10px;
	margin: 0 auto;
}

#sheet_content h2 {
	text-align:center;
	font-family: "MS Gothic";
	font-weight:100;
	font-size:15px;
	color:#000000;
	letter-spacing:2px;
	padding: 5px 5px 5px 5px;
	margin: 0 auto;
}

#sheet_content h3 {
	text-align:left;
	font-family: "MS Gothic";
	font-weight:100;
	font-size:12px;
	color:#000000;
	letter-spacing:1px;
	padding: 5px 5px 5px 5px;
	margin: 0 auto;
}

#sheet_content .left {
	width:50%;
	text-align:left;
	float:left;
	font-family: "MS Gothic";
	font-size:13px;
	color:#000000;
	letter-spacing:1px;
	padding: 5px 5px 5px 5px;
}

#sheet_content .right {
	width: 50%;
	text-align:right;
	float:right;
	font-family: "MS Gothic";
	font-size:13px;
	color:#000000;
	letter-spacing:1px;
	padding: 5px 5px 5px 5px;
}

#sheet_content .line {
	height:1px;
	width:100%;
	background-color: rgba(18, 19, 20, 0.15);
}

/* Sheet Mobile */
@media all and (max-device-width: 736px) {
  div.sheet_container {
	margin:auto !important;
  }
}

/* ----- */
/* -Grd- */
/* ----- */
.grid {
	width: 100%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-gap: 2rem;
}

.grid > div {
	margin: 0 auto;
}

.grid_img {
	object-fit:contain;
	width:100%;
	border-radius:20px;
	padding-bottom:5px
}

.item-b {
	grid-row-start: 2;
	grid-column: span 2;
	width:100%;
}

@media all and (max-width:680px) {
	.item-b {
	grid-row-start: auto;
	grid-column: auto;
	}
}

/* ----- */
/* -Cnt- */
/* ----- */
#Content {
	width:100%;
	margin: 0 auto;
	background-color: #181818;
}

#Content > div {
	width: 70%;
	margin: 0 auto;	
}

#Content a {
	color:#dd872a;
}

#Content p {
	font-family: "Source Sans Pro";
	color: rgb(226, 226, 226);
	font-size: 0.9em;
	letter-spacing: 1px;
	line-height: 1.3;
	margin-top: 5px;
	text-indent: 0.5em;
}

/* Relationship Text */
#Content p.kin {
	line-height: 1.5em;
	margin: 0px;
	padding-top: 5px;
	text-indent: 0.0em;
}

#Content p.kin::before {
	content: "⛆ "
}

/* Trivia Text */
#Content p.flush {
	line-height: 1.5em;
	margin: 0px;
	padding-top: 5px;
	text-indent: 0.1em;
}

#Content p.flush:nth-child(even) {
	color: rgb(141, 141, 141);
}

#Content p.flush::before {
	content: "⛆ "
}

/* Large, Colored Text */
#Content h1 {
	font-family: "Cormorant Unicase";
	color: #dd872a;
	font-size: 1.5em;
	font-weight: 100;
	margin-top: 0px;
	letter-spacing: 2px;
	line-height: 1.3;
	margin-bottom: 0;
	display: inline-block;
}

/* Content Text */
#Content h2 {
	font-family: "Source Sans Pro";
	color: rgb(226, 226, 226);
	font-size: 1em;
	font-weight: 100;
	letter-spacing: 1px;
	text-indent: 0.0em;
	line-height: 1.0;
	margin: 0px;
	padding-top: 3px;
}

/* Subtitle Text */
#Content h3 {
	font-family: "Source Sans Pro";
	color: #b7b7b7;
	font-size: 1.0em;
	font-weight: 300;
	font-style: italic;
	margin-top: -5px;
	letter-spacing: 2px;
	line-height: 1.6;
	padding-bottom: 20;
	padding-left: 0px;
}

/* Audio Flex Container */
.audioflex-container {
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	list-style: none;
}

.audioflex-item {
	width: 25%;
	padding: 10px;
}

/* Blockquote */
blockquote.main {
	background: #1d1d1d;
	border-left: 10px solid #dd872a;
	margin: 1.5em 10px;
	font-size: 1.0em;
	padding: 0.5em 10px;
  }

/* Horizontal Rule */
hr.boyhowdy {
	border-top: 1px solid #864a0a;
	margin: 0px 0px 5px 0px;
	padding: 0px;
}

/* Collapse */
input[type='checkbox'] {
	display: none;
}

.lbl-toggle {
	display:block;
	background-color: #181818;
	cursor: pointer;
	padding-top: 20px;
	width: 100%;
	border-top: 1px dotted #dd872a;
	border-bottom: none;
	border-left: none;
	border-right: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	transition: all 0.25s ease-out;
}
.lbl-toggle:hover {
  color: #181818;
}

.lbl-toggle::before {
	content: url(skull.png);
	vertical-align: middle;
	margin-right: .7rem;
	float: left;
	transform: translateY(-2px);
	transition: transform .2s ease-out;
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 100%;
}

audio {
	width:100%;
}

/* Mobile */
@viewport {
	width: device-width;
	zoom: 1.0;
}

.video-responsive{
	overflow:hidden;
	padding-bottom: 56.25%;
	position:relative;
	height:0;
}

.video-responsive iframe{
	left:0;
	top:0;
	height:100%;
	width:100%;
	position:absolute;
}
