body {
  	left: 0;
  	top: 0;
  	width: 100%;
  	height: 100%;
	margin: 0 auto;
	background-color: #181818;
}

/* Buffer */
#Buffer {
	width: 100%;
	margin: 0 auto;
	background-color: #551672;
	display:flex;
}

/*
	LANDING/HOME SHEET BEGINS HERE.
*/

/* Character Sheet */
#CharSheet {
	width: 100%;
	background-color: #ece6d8;
	margin: 0;
  	justify-content: center;
  	align-items: center;
	background-image: url("../img/bg_anpuraya.webp");
	background-size: cover;
	background-position: right;
}

#CharSheet p {
	font-family: "Caladea" serif;
	color: #181818;
	font-size: calc(12px + 0.1vw);
	letter-spacing: 1px;
	line-height: 1.4;
	text-indent: 1.0em;
	padding-bottom: 5px;
	margin: 0px;
	text-indent: 0em;
}

#CharSheet p.subtitle {
	font-family: "Caladea", serif;
	font-style: italic;
	color: #3d3d3d;
	font-size: calc(12px + 0.3vw);
	letter-spacing: 2px;
	word-spacing: 3px;
	line-height: 1.4;
	padding-bottom: 5px;
	margin: 0px;
	text-indent: 0em;
	text-align: center;
}

#CharSheet .charright { /* This is unused atm. */
	width: 80%;
	text-align:right;
	float:right;
	color:#ece6d8;
	font-family: "Caladea";
	font-weight:600;
	font-size: 1.0em;
	font-style: italic;
	margin-top: -5%;
	letter-spacing: 2px;
	line-height: 1.6;
	padding: 5px 5px 5px 5px;
	text-shadow: 1px 1px black;
}

#CharSheet a, a:visited {
	color: #fc49b2;
	text-decoration: none;
}

#CharSheet a:hover {
	color: #fc49b2;
}

.sheetflex-container {
	width:100%;
	display: flex;
	flex-wrap: nowrap;
	list-style: none;
}

.sheet-l {
	margin:0 auto;
	width:50%;
	padding:20px 0 20px 0;
	align-self: center;
}

.sheet-r {
	margin:0 auto;
	width:50%;
	padding:0;
	align-self: flex-end;
}

.sheet_img {
	object-fit:scale-down;
	width:100%;
	vertical-align: bottom;
}

#sheet_container {
	background: rgba(236, 230, 216, 0.85);
	width:90%;
	margin: 0 auto;
	border:1px solid rgba(18, 19, 20, 0.15);
	padding:2px;
	box-sizing:border-box;
	z-index:2;
}

#sheet_content {
	border:1px solid rgba(0,17,52,0.35);
	padding:12px;
}

#sheet_content h1 {
	text-align:center;
	font-family: "Source Serif Pro", sans-serif;
	font-size: calc(28px + 0.5vw);
	font-weight:600;
	color:#9d1be9;
	padding: 10px 10px 10px 10px;
	margin: 0 auto;
}

#sheet_content .line {
	height:1px;
	width:100%;
	background-color: rgba(18, 19, 20, 0.15);
}

#sheet_content > img {
	opacity: 0.1 !important;
	float: right;
}

/* Sheet Mobile */
@media all and (max-width:1200px) {
	.sheetflex-container {
		flex-direction:column;
		flex-wrap: wrap;
		padding-bottom: 20px;
	}
	.sheetflex-container > .sheet-l { order: 2; }
	.sheetflex-container > .sheet-r { order: 1; }
	/*.sheet_img { height:95vh; }*/
	.sheet-l { width:100%; padding-top:0; }
	.sheet-r { width:100%; padding-bottom:0; height: fit-content;}
}

@media all and (max-width:736px) {
	.sheetflex-container {
		padding-top: 0;
	}

	.sheetflex {
		width: 100%;
	}
}

@media all and (max-device-width: 736px) {
	div.sheet_container {
	margin:auto !important;
	}
}

/*
 	LANDING/HOME SHEET ENDS HERE.
	CONTENT BEGINS BELOW
*/

/* Grid */
.grid {
	width: 100%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-gap: 2rem;
}

.grid > div {
	margin: 0 auto;
}

.grid_img {
	object-fit:contain;
	width:100%;
	border-radius:20px;
	padding-bottom:5px;
}

.grid_img_chongus {
	object-fit:contain;
	width:100%;
	border-radius:20px;
	padding-bottom:5px;
}

.grid_img_sharpcorners {
	object-fit:contain;
	width:100%;
	border-radius:0px;
	padding-bottom:5px;
}

.item-b {
	grid-column: span 2;
	width:100%;
}

@media all and (max-width:999px) {
	.item-b {
	grid-row-start: auto;
	grid-column: auto;
	}
	.grid { row-gap: 0rem; }
}

@media all and (max-width:680px) {
	.grid {
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		row-gap: 0rem;
	}
}

/* Content */
#Content {
	width:100%;
	margin: 0 auto;
	background-color: #181818;
}

#Content > div {
	width: 70%;
	margin: 0 auto;	
}

#Content a {
	color:#fc49b2;
}

#Content p {
	font-family: "Source Sans Pro", serif;
	/*font-family: "Caladea";*/
	color: rgb(226, 226, 226);
	font-size: calc(13px + 0.1vw);
	letter-spacing: 1px;
	line-height: 1.3;
	margin-top: 0.2em;
	text-indent: 0.5em;
}

#Content p.noindent {
	text-indent: 0em;
}

#Content p.noindentitalic {
	text-indent: 0em;
	font-style: italic;
}

#Content p.overview {
	text-indent: 0em;
	line-height: 1.25;
	margin: 0;
	padding: 0;
}

#Content p.overview > br {
	margin-bottom:10px;
}

/* Relationship Text */
#Content p.kin {
	line-height: 1.5em;
	margin: 0px;
	padding-top: 5px;
	text-indent: 0.0em;
}

#Content p.kin::before {
	content: "⛆ "
}

/* Trivia Text */
#Content p.flush {
	line-height: 1.5em;
	margin: 0px;
	padding-top: 5px;
	text-indent: 0.1em;
}

#Content p.flush:nth-child(even) {
	color: rgb(141, 141, 141);
}

#Content p.flush::before {
	content: "⛆ "
}

/* Large, Colored Text */
#Content h1 {
	font-family: "Cormorant Unicase", serif;
	color: #9d1be9;
	font-size: calc(19px + 0.3vw);
	font-weight: 100;
	margin-top: 0px;
	letter-spacing: 2px;
	line-height: 1.3;
	margin-bottom: 0;
	display: inline-block;
	font-variant: small-caps;
}

#Content h1.reduced {
	font-size: calc(16px + 0.3vw);
	font-style: italic;
}

/* Content Text */
#Content h2 {
	font-family: "Source Sans Pro", sans-serif;
	color: rgb(226, 226, 226);
	font-size: calc(12px + 0.1vw);
	font-weight: 100;
	letter-spacing: 1px;
	text-indent: 0.0em;
	line-height: 1.0;
	margin: 0px;
	padding-top: 3px;
}

/* Subtitle Text */
#Content h3 {
	font-family: "Source Sans Pro", sans-serif;
	color: #b7b7b7;
	font-size: calc(14px + 0.1vw);
	font-weight: 300;
	font-style: italic;
	margin-top: -5px;
	letter-spacing: 2px;
	line-height: 1.6;
	padding-bottom: 20;
	padding-left: 0px;
}

/* Blockquote */
blockquote.main {
	background: #1d1d1d;
	border-left: 10px solid #9d1be9;
	margin: 1.5em 10px;
	font-size: calc(14px + 0.1vw);
	padding: 0.5em 10px 0.5em;
  }

/* Horizontal Rule */
hr.boyhowdy {
	border-top: 1px solid #9d1be9;
	margin: 0px 0px 5px 0px;
	padding: 0px;
}

/* General Media */
.audioflex-container {
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	list-style: none;
}

.audioflex-item {
	width: 25%;
	padding: 10px;
}

@media all and (max-width:680px) {
	.audioflex-item {
		width:100%;
	}
}

audio {
	width:100%;
}


video { 
	max-width: 100% !important;
  	height: auto !important;
}

/* Footer */
#footer {
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 10px 0 10px 0;
	display:inline-block;
	margin: 0 auto;
}

#footer p {
	text-align: center;
	font-style: italic;
	vertical-align: middle;
	font-family: "Caladea";
	color: rgb(226, 226, 226);
	font-size: 0.9em;
	letter-spacing: 1px;
	line-height: 1;
}

#footer a, a:visited {
	color: #fc49b2;
	text-decoration: underline;
}

#footer a:hover {
	color: #fc49b2;
}

/* Mobile */
@viewport {
	width: device-width;
	zoom: 1.0;
}
