/* Header */
#pBuffer {
	width: 100%;
	margin: 0 auto;
	/*background-color: #1d1d1d;*/
	background-color: #dd872a;
}

#pHeader {
	width: 100%;
	background-color: #1d1d1d;
	margin: 0 auto;
	/*background-repeat: repeat;
	background: url('../img/pattern.png');*/
}

#pHeader a, a:visited {
	color: inherit;
	text-decoration: none;
}

#pHeader a:hover {
	color: #dd872a;
}

#pHeader h1 {
	font-family: "Cormorant Unicase";
	font-size: 3em;
	padding-top: 0px;
	padding-bottom: 20px;
	margin: 0 auto;
	line-height: 0.8;
	letter-spacing: 2px;
	color: #dd872a;
}

#pHeader h2 {
	display: inline-block; 
	padding-right: 10px;
	padding-bottom: 10px;
	word-spacing: 15px;
	font-family: "Raleway";
	font-size: 1.5em;
	padding-top: 0px;
	margin: 0 auto;
	color: #FFF;
}

/* Body */
body {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #181818;
}

#container {
	margin: 0 auto;
	width: 80%;
}

#pContent a {
	color:#dd872a;
}

/* Collapse */
input[type='checkbox'] {
	display: none;
}

.lbl-toggle {
	display: block;
	background-color: #181818;
	cursor: pointer;
	padding-top: 20px;
	width: 100%;
	border-top: 1px dotted #dd872a;
	border-bottom: none;
	border-left: none;
	border-right: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
  color: #181818;
}

.lbl-toggle::before {
	content: url(skull.png);
	vertical-align: middle;
	margin-right: .7rem;
	float: left;
	transform: translateY(-2px);
	transition: transform .2s ease-out;
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 100%;
}

/* Large, Colored Text */
#pContent h1 {
	font-family: "Cormorant Unicase";
	color: #dd872a;
	font-size: 1.5em;
	margin-top: 0px;
	letter-spacing: 2px;
	line-height: 1.3;
	margin-bottom: 0;
	display: inline-block;
}

/* Content Text */
#pContent h2 {
	font-family: "Raleway";
	color: rgb(226, 226, 226);
	font-size: 0.9em;
	letter-spacing: 1px;
	line-height: 1.3;
	margin-top: 5px;
	text-indent: 0.5em;
}

/* Subtitle Text */
#pContent h3 {
	font-family: "Source Sans Pro";
	color: #b7b7b7;
	font-size: 1.0em;
	font-style: italic;
	margin-top: -5px;
	letter-spacing: 2px;
	line-height: 1.6;
	padding-bottom: 20;
	padding-left: 0px;
}

/* Blockquote */
blockquote {
	background: #1d1d1d;
	border-left: 10px solid #dd872a;
	margin: 1.5em 10px;
	font-size: 1.0em;
	padding: 0.5em 10px;
  }

/* Dotted Line */

hr.dots {border-top: 1px dotted #dd872a; padding: 0px 0px 0px 0px; margin: 0;}

/* Mobile */

@viewport {
	width: device-width;
	zoom: 1.0;
}

.video-responsive{
	overflow:hidden;
	padding-bottom: 56.25%;
	position:relative;
	height:0;
}

.video-responsive iframe{
	left:0;
	top:0;
	height:100%;
	width:100%;
	position:absolute;
}