/* Buffer */
#Buffer {
	width: 100%;
	margin: 0;
	background-color: #fc49b2;
}

/* ----- */
/* -Bdy- */
/* ----- */
body {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
	/*background-image: url("scanline.png");
	background-repeat: repeat;*/
}

#container {
	margin: 0 auto;
	width: 70%;
	height: 100%;
	background-color: #181818;
	/*background-image: url("../img/scanline.png");
	background-repeat: repeat;*/		
}

#Content {
	width: 100%;
	height: 100%;
	margin: 0;
	/*background-image: url("../img/scanline.png");
	background-repeat: repeat;*/
	background-color: #181818;
	overflow: hidden;
}

#Content a {
	color:#00ccff;
}

/* Large, Colored Text */
#Content h1 {
	font-family: "Baskerville";
	color: #fc49b2;
	font-size: 1.7em;
	margin-top: 0px;
	letter-spacing: 2px;
	line-height: 1.3;
	margin-bottom: 0;
	display: inline-block;
	font-variant: small-caps;
}

#Content h2 {
	font-family: "Baskerville";
	color: #00ccff;
	font-size: 1.4em;
	margin-top: 0px;
	padding-top: 10px;
	letter-spacing: 2px;
	line-height: 1.3;
	margin-bottom: 0;
	display: inline-block;
	font-variant: small-caps;
}

#Content h3 {
	font-family: "Baskerville";
	color: #fc49b2;
	font-size: 1.4em;
	margin-top: 0px;
	padding-top: 10px;
	letter-spacing: 2px;
	line-height: 1.3;
	margin-bottom: 0;
	display: inline-block;
	font-variant: small-caps;
}


/* Content Text */
#Content p {
	font-family: "Consolas";
	color: #dddddd;
	font-size: 0.9em;
	letter-spacing: 1px;
	line-height: 1.4;
	padding-left: 1em;
	margin: 0px;
}

#Content p span {
	font-variant:small-caps;
	font-size: 1.1em;
}

#Content p.padbot {
	padding-bottom: 1.0em;
	text-indent:0em;
	margin: 0px;
}

#Content p.noindent {
	text-indent: 0em;
	padding-left: 0;
}

#Content p.dblindent {
	padding-left: 2em;
}

#Content p.trplindent {
	padding-left: 3em;
}

#Content p.qdplindent {
	text-indent: 8em;
}

/* Image */

.center {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

/* Horizontal Rule */
hr.girlhowdy {
	border-top: 1px solid #00ccff;
	margin: 5px 0px 10px 0px;
}

/* Horizontal Rule */
hr.girlhowdyc {
	border-top: 1px solid #fc49b2;
	margin: 5px 0px 10px 0px;
}

/* Horizontal Rule */
hr.girlhowdyr {
	border-top: 1px solid red;
	margin: 5px 0px 10px 0px;
}

hr.boyhowdy {
	border-top: 1px solid #cccccc;
	margin: 20px 0px 10px 0px;
}

/* Spoiler */
#spoiler img {
	filter: blur(20px);
	transition-property: -webkit-filter;
	transition-duration: .4s;
	overflow: hidden;
}

#spoiler img:hover, #spoiler img:focus {
	filter: blur(0px);
	overflow: hidden;
}

/*
.img-fluid-spoiler {
	filter: blur(20px);
	transition-property: -webkit-filter;
	transition-duration: .4s;
}
.img-fluid-spoiler:hover, .img-fluid-spoiler:focus {
	filter: blur(0px);
}
*/
/* Footer */
.footer {
	left: 0;
	bottom: 0;
	width: 100%;
	padding-bottom: 30px;
}

p.footer {
	text-align: center;
	vertical-align: middle;
	padding-top: 5px !important;
}

/* Mobile */
@media only screen and (max-device-width: 736px) {
  div.sheet_container {
	margin:auto !important;
  }
}

@viewport {
	width: device-width;
	zoom: 1.0;
}
